.vs/
*.user
*.suo
*.dbmdl

# Build outputs
bin/
obj/
Debug/
Release/
x64/
x86/

# Logs
[Ll]ogs/
*.log
/__pycache__/

# Development settings
appsettings.Development.json
launchSettings.json
.env
venv
.venv

srv/nginx/conf.d/
srv/monitoring/geoip/GeoLite2-City.mmdb